@model List<ContatoModel>
@{
    ViewData["Title"] = "Página de Contatos";
    var hora = DateTime.Now.Hour;
    var msg = "";
    if (hora > 12)
    {
        msg = "Boa tarde";
    }
    else if (hora >= 18)
    {
        msg = "Boa noite";
    }
    else
    {
        msg = "Bom dia";
    }
}

<div class="text-center">
    <h1 class="display-4">@msg, Seja Bem-Vindo!</h1>
    <h2>Lista de contatos</h2>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-outline-primary me-md-2" role="button" asp-asp-controller="Contato"
            asp-action="Criar">Adicionar contato</a>
    </div>
    <br>

    <table class="table caption-top">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Telefone</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @if (Model != null && Model.Any())
            {
                var i = 1;
                foreach (ContatoModel contato in Model)
                {


                    <tr>
                        <th scope="row">@i</th>
                        <td>@contato.Nome</td>
                        <td>@contato.Email</td>
                        <td>@contato.Telefone</td>
                        <td>
                            <div>
                                <a role="button" class="btn btn-primary" aps-route-Id="@contato.Id" asp-asp-controller="Contato" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-asp-controller="Contato" asp-action="VerificarDeletar">Deletar</a>
                            </div>
                        </td>
                    </tr>
                    i+=1;
                }
            }
        </tbody>

    </table>

</div>
